<div class="calendar-container">
	<div class="calendar">
		<div class="month">
			July
			2016
		</div>
		<ul class="weekdays">
			<li class="weekday">
				S
			</li>
			<li class="weekday">
				M
			</li>
			<li class="weekday">
				T
			</li>
			<li class="weekday">
				W
			</li>
			<li class="weekday">
				T
			</li>
			<li class="weekday">
				F
			</li>
			<li class="weekday">
				S
			</li>
		</ul>
		<ul class="week">
			<li class="day">
			</li>
			<li class="day">
			</li>
			<li class="day">
			</li>
			<li class="day">
			</li>
			<li class="day">
			</li>
			<li class="day">
				<span class="mute">
					1
				</span>
			</li>
			<li class="day">
				<span class="mute">
					2
				</span>
			</li>
			<li class="day">
				<span class="mute">
					3
				</span>
			</li>
			<li class="day">
				<span class="mute">
					4
				</span>
			</li>
			<li class="day">
				<span class="mute">
					5
				</span>
			</li>
			<li class="day">
				<span class="mute">
					6
				</span>
			</li>
			<li class="day">
				<span class="mute">
					7
				</span>
			</li>
			<li class="day">
				<span class="mute">
					8
				</span>
			</li>
			<li class="day">
				<span class="mute">
					9
				</span>
			</li>
			<li class="day">
				<span class="mute">
					10
				</span>
			</li>
			<li class="day">
				<span class="mute">
					11
				</span>
			</li>
			<li class="day">
				<span class="mute">
					12
				</span>
			</li>
			<li class="day now">
				13
			</li>
			<li class="day">
				14
			</li>
			<li class="day">
				15
			</li>
			<li class="day">
				16
			</li>
			<li class="day">
				17
			</li>
			<li class="day">
				18
			</li>
			<li class="day">
				19
			</li>
			<li class="day">
				20
			</li>
			<li class="day">
				21
			</li>
			<li class="day">
				22
			</li>
			<li class="day">
				23
			</li>
			<li class="day">
				24
			</li>
			<li class="day">
				25
			</li>
			<li class="day">
				26
			</li>
			<li class="day">
				27
			</li>
			<li class="day">
				28
			</li>
			<li class="day">
				29
			</li>
			<li class="day">
				30
			</li>
			<li class="day">
				31
			</li>
		</ul>
	</div>
</div>