
	<footer>
		<div class="inner row">
				<div class="col-xs-5 text-right">
					<ul class="nav nav-stacked">
						<li><a href="http://gonebusy.github.io/api">API</a></li>
						<li><a href="http://gonebusy.github.io/libraries">Libraries</a></li>
						<li><a href="/contact_us">Support</a></li>
					</ul>
				</div>

				<div class="col-xs-2 text-center">
					<img class="logo img-responsive" src="images/gone-busy-logo-small.svg" />
				</div>

				<div class="col-xs-5 text-left">
					<ul class="nav nav-stacked">
						<li><a href="/faqs/getting_started/">FAQ</a></li>
						<li><a href="https://github.com/gonebusy/gonebusy.github.io/issues">Submit An Issue</a></li>
						<li><a href="/contact_us">Contact</a></li>
					</ul>
				</div>
		</div>
		<div class="text-center legal">
			<ul class="nav">
				<li><a href="/privacy">Privacy</a></li>
				<li><a href="/terms-and-conditions">Terms and Conditions</a></li>
			</ul>
			<p>
				&copy; 2016 GoneBusy. All rights reserved.
			</p>
		</div>
	</footer>
</main>
<script src="{{script}}"></script>
</body>
</html>



