<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
<title>{{htmlWebpackPlugin.options.title}}</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Lato:400, 600|Nunito:400,600" rel="stylesheet" />
</head>
<body>
  {{> partials/header}}
  {{> partials/hero}} 
<script src="js/vendor/gsap/minified/TweenLite.min.js"></script>
<script src="js/vendor/gsap/minified/plugins/CSSPlugin.min.js"></script>
<script src="js/vendor/gsap/minified/plugins/TextPlugin.min.js"></script>
<script src="js/vendor/gsap/minified/easing/EasePack.min.js"></script>
</body>
</html>