{{> header stylesheet='css/main.css'}}
<header>
	<div class="row inner">


		<div class="col-sm-4">
			{{> calendar}} 
		</div>

		<div class="col-sm-8">
			
			<h1><span class="wrap">The only Booking Platform you need. For any business or social activity. Fully automated, feature rich. No hidden fees.</span></h1>
			<p class="tagline">Now available for API users.</p>
			<a class="btn btn-lg" href="/sign-up">Learn More</a>
			
		</div>

		
	</div>
</header>

<section class="flexibility">
	<div class="row inner">
		<div class="col-sm-8">
			<h2>Large and Small Businesses Who Value Flexibility and Brand Management</h2>
			<p>Other solutions require a large financial investment with limited customization. With GoneBusy, you can integrate online booking into your own website or business systems, maintaining the freedom to be uniquely you.</p>
		</div>
		<div class="col-sm-4">
			<img class="img-responsive" src="images/puzzle.svg" />
		</div>
	</div>
</section>

<section class="self-starters">
	<div class="row inner">
		<div class="col-sm-4">
			<img class="img-responsive" src="images/dog-walker.svg" />
		</div>
		<div class="col-sm-8">
			<h2>Self-Starters With Skills or Resources to Share</h2>
			<p>From dog walkers, to caterers, to rideshares. GoneBusy brings power to the new Gig Economy.</p>
		</div>
	</div>
</section>

<section class="booking">
	<div class="row inner">
		<div class="col-sm-8">
			<h2>Industry and Community Sites That Want to Offer Booking to Their Clients</h2>
			<p>Offering booking as a feature will help your business provide additional value for your clients.</p>
			<p>Become an Affiliate Partner and we will share 50% of booking fees with you.  <a href="/faqs/affiliate_program/">Learn more</a>.</p>
		</div>
		<div class="col-sm-4">
			<img class="img-responsive" src="images/gig-village.svg" />
		</div>
	</div>
</section>


{{> footer script='js/main.min.js'}}