@-webkit-keyframes blink {
  0% {
    opacity: 0
  }
  49% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}
@keyframes blink {
  0% {
    opacity: 0
  }
  49% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}
.slack {
  font: 15px/1 Lato,sans-serif;
  position: relative;
  max-width: 700px;
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  text-align: left
}
.slack__icon {
  display: inline-block;
  height: 18px
}
.slack__tabs {
  position: relative;
  margin-bottom: 4px;
  min-height: 250px
}
.slack__label {
  margin: 2px 0 1px;
  color: #717274;
  font-size: 12px
}
.slack__label-icon {
  display: inline-block;
  margin-right: 4px
}
.slack__label-icon svg {
  height: 8px
}
.slack__avatar-image {
  width: 36px;
  height: 36px;
  border-radius: 3px
}
.slack__mention {
  background: #eaf5fc;
  border-radius: 3px;
  padding: 0 2px 1px 2px;
  color: #0576b9
}
.slack__mention--self {
  background: #fff5d3
}
.slack__gutter {
  padding-right: 8px;
  width: 36px;
  float: left
}
.slack__gutter + .slack__content {
  margin-left: 36px
}
.slack__app-name {
  color: #2c2d30;
  font-weight: 900;
  word-break: break-word
}
.slack__app-badge {
  background-color: #e8e8e8;
  border-radius: 2px;
  color: #717274;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  height: 14px;
  line-height: 1.25;
  padding: 1px 3px;
  vertical-align: .125rem;
  text-transform: uppercase
}
.slack__app-timestamp {
  color: #717274;
  font-size: 12px
}
.slack__member {
  display: block;
  font-size: 15px;
  padding: 0 12px
}
.slack__member--active {
  background: #2d9ee0;
  text-shadow: 0 1px rgba(0,0,0,.1)
}
.slack__member-presence {
  align-items: center;
  line-height: 2;
  display: inline-block;
  vertical-align: middle;
  color: #4dac86;
  padding: 0 7px 0 0
}
.slack__member--active .slack__member-presence--active {
  color: #fff
}
.slack__member-presence-icon {
  width: 6px;
  height: 6px;
  border: 1px solid currentColor;
  background-color: currentColor;
  border-radius: 50%;
  display: inline-block
}
.slack__member-presence--offline .slack__member-presence-icon {
  background-color: transparent;
  color: #717274
}
.slack__member-thumb {
  background: url(/images/default-avatar.png);
  background-size: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  border-radius: .2rem;
  background-repeat: no-repeat
}
.slack__member-name {
  color: #2c2d30;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  margin-left: .5rem
}
.slack__member--active .slack__member-name {
  color: #fff;
  font-weight: 400
}
.slack__member-label {
  border-radius: 2px;
  font-size: 10px;
  padding: 1px 3px;
  color: #717274;
  background-color: #e8e8e8;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  line-height: 1.25;
  font-weight: 600
}
.slack__member--active .slack__member-label {
  color: #fff;
  background-color: rgba(255,255,255,.3)
}
.slack__member-secondary-name {
  color: #717274;
  word-break: break-word;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  margin-left: .25rem
}
.slack__member--active .slack__member-secondary-name {
  color: #fff
}
.slack__response-attachments {
  border-left: 4px solid #4dd87e;
  margin-left: 4px
}
.slack__response-attachment {
  padding: 0 12px
}
.slack__response-attachment-title {
  font-weight: 600
}
.slack__response-attachment-author-icon {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  box-sizing: content-box;
  margin-right: 4px;
  overflow: hidden;
  vertical-align: middle
}
.slack__response-attachment-author-name {
  color: #717274;
  line-height: 1.46666667;
  font-size: 15px
}
.slack__response-attachment-footer-icon {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  box-sizing: content-box;
  margin-right: 4px;
  overflow: hidden;
  vertical-align: middle
}
.slack__response-attachment-footer-text {
  font-size: 12px;
  line-height: 1.25;
  color: #717274
}
.slack__response-attachment-button,
.slack__response-attachment-combo-box {
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0,137,82,.3);
  color: #008952;
  font-weight: 600;
  margin: 8px 8px 2px 0;
  max-width: 220px;
  padding: 0 10px;
  vertical-align: middle;
  font-size: 12px;
  height: 28px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  outline: 0;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  line-height: 27px
}
.slack__response-attachment-combo-box {
  border: 1px solid rgba(44,45,48,.22);
  box-shadow: none;
  font-weight: 400;
  color: #919193;
  padding-right: 40px;
  background: url(/images/drop-down-arrow.svg) no-repeat calc(100% - 12px) 50%;
  background-size: 8px 6px
}
.slack__response-body {
  margin: 8px 0 -4px;
  font-size: 15px
}
.slack__tab {
  position: absolute;
  background: #fff;
  z-index: 100000;
  padding: 0;
  line-height: 1.4rem;
  box-shadow: 0 5px 10px rgba(0,0,0,.12);
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,.15);
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  visibility: hidden
}
.slack__tab--response {
  left: 0;
  bottom: 10px;
  padding: 4px 10px 16px;
  background: #f9f9f9;
  border-radius: none;
  border: 0
}
.slack__tab-header {
  padding: 5px 10px 4px;
  background: #faf8f6;
  color: #7f7f83;
  font-size: 12px;
  border-bottom: 1px solid rgba(0,0,0,.15);
  background-clip: padding-box;
  overflow: hidden;
  border-radius: 6px 6px 0 0
}
.slack__tab-list {
  border: 0;
  color: inherit;
  font-family: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline
}
.slack__tab-group {
  display: flex;
  border: 0;
  cursor: pointer;
  background: 0 0;
  padding: 5px 10px 4px;
  font-size: 15px;
  line-height: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}
.slack__tab-group .group_name {
  font-weight: 600;
  padding-right: .5rem;
  color: #717274;
  font-size: .8rem
}
.slack__tab-group .group_divider {
  border: none;
  flex: 1;
  border-top: 1px solid #e8e8e8;
  margin: .8rem 0 0
}
.slack__tab-item {
  font-size: 15px;
  padding: 6px 10px;
  line-height: 1.2rem
}
.slack__tab-item .cmdname {
  font-weight: 900
}
.slack__tab-item.active {
  background: #2d9ee0;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,.1)
}
.slack__message {
  background-color: #fff;
  border-radius: .375rem;
  display: flex;
  color: rgba(145,145,147,.7)
}
.slack__message .text-wrapper {
  display: inline-block;
  margin: 0 1px
}
.slack__message.active {
  color: #717274
}
.slack__message-btn {
  width: 44px;
  border-radius: 6px 0 0 6px;
  line-height: 42px;
  border: 2px solid currentColor;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center
}
.slack__message-input {
  padding: 9px;
  border: 2px solid currentColor;
  border-left: none;
  border-radius: 0 6px 6px 0;
  flex: 1
}
.slack__message-input-wrapper {
  display: flex;
  height: 100%;
  align-items: flex-end
}
.slack__message-input-text {
  flex: 1;
  font: 15px/1.75 Lato,sans-serif;
  letter-spacing: .3px
}
.active .slack__message-input-text {
  color: #2c2d30
}
.slack__message-input-text-inner {
  position: relative;
  display: inline-block
}
.active .slack__message-input-text-inner::after {
  position: absolute;
  content: '|';
  right: -2px;
  top: 0;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite
}
.slack__message-input-emo-menu,
.slack__message-input-mentions {
  padding: 0 6px
}
.site-header {
  color: #000;
  background-color: #fff;
  box-sizing: border-box;
  font: 14px/1 "Open Sans",sans-serif
}
.site-header__wrapper {
  padding: 20px;
  box-sizing: border-box
}
.site-header__logo-link {
  text-decoration: none;
  color: inherit;
  display: block;
  flex: 1
}
.site-header__logo svg {
  width: auto;
  height: 36px
}
.site-header__nav {
  display: none;
  padding: 20px 0
}
.site-header--open .site-header__nav {
  display: block
}
.site-header__nav-list {
  border: 0;
  color: inherit;
  font-family: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline
}
.site-header__nav-link {
  text-decoration: none;
  color: inherit;
  transition: color .2s 0s ease-out;
  color: #009cd9;
  display: block;
  padding: 15px 0
}
.site-header__burger-button,
.site-header__get-started-button {
  border: 0;
  color: inherit;
  font-family: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 0;
  outline: 0;
  cursor: pointer
}
.site-header__get-started-button {
  white-space: nowrap;
  border: 1px solid currentColor;
  padding: 10px 20px;
  border-radius: 16px;
  transition: background-color .2s 0s ease-out,color .2s 0s ease-out;
  display: none;
  color: #009cd9;
  border-color: #009cd9
}
.site-header__get-started-button:hover {
  color: #fff;
  border-color: #009cd9;
  background-color: #009cd9
}
.site-header__burger-button {
  height: 16px;
  width: 22px;
  position: absolute;
  top: 28px;
  right: 20px
}
.site-header__burger-button span {
  background-color: #000;
  display: block;
  height: 2px;
  position: absolute;
  transition: all .3s 0s ease-in-out;
  width: 100%;
  top: 50%
}
.site-header__burger-button span::after,
.site-header__burger-button span::before {
  background-color: #000;
  display: block;
  height: 2px;
  position: absolute;
  transition: all .3s 0s ease-in-out;
  width: 100%;
  content: ''
}
.site-header__burger-button span::before {
  top: -8px
}
.site-header__burger-button span::after {
  bottom: -8px
}
.site-header--open .site-header__burger-button {
  height: 16px;
  width: 22px;
  position: absolute
}
.site-header--open .site-header__burger-button span {
  background-color: #000;
  display: block;
  height: 2px;
  position: absolute;
  transition: all .3s 0s ease-in-out;
  width: 100%;
  top: 50%;
  background-color: transparent
}
.site-header--open .site-header__burger-button span::after,
.site-header--open .site-header__burger-button span::before {
  background-color: #000;
  display: block;
  height: 2px;
  position: absolute;
  transition: all .3s 0s ease-in-out;
  width: 100%;
  content: ''
}
.site-header--open .site-header__burger-button span::before {
  top: -8px
}
.site-header--open .site-header__burger-button span::after {
  bottom: -8px
}
.site-header--open .site-header__burger-button span::before {
  top: 50%
}
.site-header--open .site-header__burger-button span::after {
  bottom: -50%
}
.site-header--open .site-header__burger-button span::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.site-header--open .site-header__burger-button span::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
body {
  margin: 0;
  font: 16px/1 "Open Sans",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
@media (min-width:700px) {
  .site-header {
    border-bottom: 1px solid #edecec
  }
  .site-header__wrapper {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px
  }
  .site-header__nav {
    padding: 0;
    display: block
  }
  .site-header__nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center
  }
  .site-header__nav-link {
    color: inherit;
    padding: 15px 8px
  }
  .site-header__nav-link:hover {
    color: #009cd9
  }
  .site-header__button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20px
  }
  .site-header__get-started-button {
    display: block
  }
  .site-header__burger-button {
    display: none
  }
}
@media (min-width:1024px) {
  .site-header__button-wrapper {
    justify-content: space-between
  }
}
