<header class="site-header">
  <div class="site-header__wrapper">
    <a class="site-header__logo-link" href="/">
      <div class="site-header__logo" >
        <img inline src="src/assets/svg/gonebusy-full-logo.svg" />
      </div>
    </a>
    <nav class="site-header__nav">
      <ul class="site-header__nav-list">
        <li class="site-header__nav-item"><a class="site-header__nav-link" href="/">Platform</a></li>
        <li class="site-header__nav-item"><a class="site-header__nav-link" href="products">Developers</a></li>
        <li class="site-header__nav-item"><a class="site-header__nav-link" href="/">Blog</a></li>
        <li class="site-header__nav-item"><a class="site-header__nav-link" href="/">Support</a></li>
        <li class="site-header__nav-item"><a class="site-header__nav-link" href="/">Login</a></li>
      </ul>
    </nav>
    <nav class="site-header__button-wrapper">
      <button type="button" class="site-header__get-started-button">Get Started</button>
      <button type="button" class="site-header__burger-button">
        <span class="site-header__burger-bar" />
      </button>
    </nav>
  </div>
</header>