<section class="hero">
  <div class="slack-ui">
    <div class="slack-ui__msg">
      <div class="slack-ui__msg-btn">
        <i class="ts_icon ts_icon_plus_thick"></i>
      </div>
      <div class="slack-ui__msg-input">
        <div class="slack-ui__msg-input-wrapper">
          <div class="slack-ui__msg-input-text">Message @teammember</div>
          <div class="slack-ui__msg-input-mentions">
            <i class="ts_icon ts_icon_mentions"></i>
          </div>
          <div class="slack-ui__msg-input-emo">
            <i class="ts_icon ts_icon_happy_smile"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
