<div class="slack__tab slack__tab--apps">
  <div class="slack__tab-header">
    <span id="slack__tab-header-query">
      Commands matching “<strong>/gone</strong>”
    </span>
    <span class="slack__tab-header-help">
      <strong>tab</strong> or <strong>↑</strong> <strong>↓</strong> to navigate
      <span class="left_margin">
        <strong>↵</strong> to select
      </span>
      <span class="left_margin">
        <strong>esc</strong> to dismiss
      </span>
    </span>
  </div>
  <div class="slack__tab-scroller">
    <ul class="slack__tab-list" role="listbox">
      <li class="slack__tab-group">
        <span class="group_name">Gonebusy</span>
        <hr class="group_divider">
      </li>
        <li role="option" tabindex="-1" class="slack__tab-item active">
          <div>
            <span class="cmdname">/gonebusy</span>
              [ &lt;notion of time&gt; | book | feedback | help | ... ]
          </div>
          <div>
            <span class="cmddesc">Run Gonebusy commands from anywhere</span>
          </div>
        </li>
    </ul>
  </div>
</div>