<div class="slack__tab slack__tab--members">
  <div class="slack__tab-header">
    <span id="chat_input_tab_ui_header_query">People matching “<strong>@a</strong>”</span>
    <span class="header_help">
      <strong>tab</strong> or <strong>↑</strong> <strong>↓</strong> to navigate
      <span class="left_margin">
        <strong>↵</strong> to select
      </span>
      <span class="left_margin">
        <strong>esc</strong> to dismiss
      </span>
    </span>
  </div>
  <div class="slack__tab-scroller">
    <ul class="slack__tab-list" role="listbox">
      <li  class="tab_complete_ui_item active" data-type="member" data-index="0" data-qa="tab_complete_ui_item" aria-selected="true">
        brucewayne
      </li>
    </ul>
  </div>
</div>
