<div class="slack__tab slack__tab--members">
  <div class="slack__tab-header">
    <span id="chat_input_tab_ui_header_query">People matching “<strong>@</strong>”</span>
    <span class="header_help">
      <strong>tab</strong> or <strong>↑</strong> <strong>↓</strong> to navigate
      <span class="left_margin">
        <strong>↵</strong> to select
      </span>
      <span class="left_margin">
        <strong>esc</strong> to dismiss
      </span>
    </span>
  </div>
  <div class="slack__tab-scroller">
    <ul class="slack__tab-list" role="listbox">
      <li  class="tab_complete_ui_item slack__member slack__member--active">
        <span class="slack__member-presence slack__member-presence--active"><i class="slack__member-presence-icon"></i></span>
        <span class="slack__member-thumb"></span>
        <span class="slack__member-name">brucewayne</span>
        <span class="slack__member-secondary-name">Bruce Wayne</span>
      </li>
      <li  class="tab_complete_ui_item slack__member">
        <span class="slack__member-presence"><i class="slack__member-presence-icon"></i></span>
        <span class="slack__member-thumb" style="background-image: url('/images/gonebusy-avatar.png');"></span>
        <span class="slack__member-name">gonebusy</span>
        <span class="slack__member-label">APP</span>
        <span class="slack__member-secondary-name">Gonebusy</span>
      </li>
      <li  class="tab_complete_ui_item slack__member">
        <span class="slack__member-presence"><i class="slack__member-presence-icon"></i></span>
        <span class="slack__member-thumb"></span>
        <span class="slack__member-name">joker</span>
        <span class="slack__member-secondary-name">Jack Napier</span>
      </li>
      <li  class="tab_complete_ui_item slack__member">
        <span class="slack__member-presence slack__member-presence--offline"><i class="slack__member-presence-icon"></i></span>
        <span class="slack__member-thumb"></span>
        <span class="slack__member-name">harleyquinn</span>
        <span class="slack__member-secondary-name">Harley Quinn</span>
      </li>
      <li  class="tab_complete_ui_item slack__member">
        <span class="slack__member-presence slack__member-presence--offline"><i class="slack__member-presence-icon"></i></span>
        <span class="slack__member-thumb"></span>
        <span class="slack__member-name">posionivy</span>
        <span class="slack__member-secondary-name">Maggie Geha</span>
      </li>
    </ul>
  </div>
</div>



               
      
      
      