<div class="slack__message">
  <div class="slack__message-btn">
    <i class="ts_icon ts_icon_plus_thick"></i>
  </div>
  <div class="slack__message-input">
    <div class="slack__message-input-wrapper">
      <div class="slack__message-input-text">
        <div class="slack__message-input-text-inner">
          <span class="text-wrapper">Message @teammember</span>
        </div>
      </div>
      <div class="slack__message-input-mentions">
        <i class="ts_icon ts_icon_mentions"></i>
      </div>
      <div class="slack__message-input-emo">
        <i class="ts_icon ts_icon_happy_smile"></i>
      </div>
    </div>
  </div>
</div>