<div class="slack__message">
  <div class="slack__message-btn">
    <i class="ts_icon ts_icon_plus_thick"></i>
    <span class="slack__icon">
      <img inline src="src/assets/svg/plus-thick-icon.svg" />
    </span>
  </div>
  <div class="slack__message-input">
    <div class="slack__message-input-wrapper">
      <div class="slack__message-input-text">
        <div class="slack__message-input-text-inner">
          <span class="text-wrapper">Message</span>
        </div>
      </div>
      <div class="slack__message-input-mentions">
        <span class="slack__icon">
          <img inline src="src/assets/svg/mentions-icon.svg" />
        </span>
      </div>
      <div class="slack__message-input-emo">
        <span class="slack__icon">
          <img inline src="src/assets/svg/happy-smile-icon.svg" />
        </span>
      </div>
    </div>
  </div>
</div>