<div class="slack__tab slack__tab--response">

   <div class="slack__label">
      <span class="slack__label-icon"><img inline src="src/assets/svg/eye-filled-icon.svg" /></span>
      <span class="slack__label-text">Only visible to you</span>
   </div>

   <div class="slack__gutter">
      <img class="slack__avatar-image" src="/images/gonebusy-avatar.png" alt="">
   </div>
   <div class="slack__content" data-qa="message_content">
      <div class="c-message__content_header">
         <span class="c-message__sender" data-qa="message_sender">
            <span class="slack__app-name">Gonebusy</span>
            <span class="slack__app-badge">App</span>
            <span class="slack__app-timestamp">7:55 PM</span>
         </span>
      </div>
      <span class="slack__response-body">You're all set.</span>

      <div class="slack__response-attachments">
         <div class="slack__response-attachment">
            <div class="slack__response-attachment-body">
               <div class="slack__response-attachment-author">
                  <img class="slack__response-attachment-author-icon" alt="" src="/images/default-avatar.png" />
                  <span class="slack__response-attachment-author-name">Your Slack Name</span>
               </div>
               <div class="slack__response-attachment-title">Interview with Bruce Wayne</div>
               <div class="slack__response-attachment-text">September 15th from 1PM to 2PM</div>
               <div class="slack__response-attachment-text">With <span class="slack__member slack__member--self">@yourslackname</span>, <span class="slack__member">@brucewayne</span></div>

               <div class="slack__response-attachment-footer">
                  <img class="slack__response-attachment-footer-icon" src="/images/google-calendar.png">
                  <span class="slack__response-attachment-footer-text">Added to Google Calendar</span>
               </div>

               <div class="slack__response-attachment-text">
                  <span class="slack__response-attachment-button">Edit Details</span>
                  <span class="slack__response-attachment-combo-box">More actions...</span>
               </div>

                 <!--  <a role="link" tabindex="0" target="_blank" class="c-button c-button--outline-primary c-button--small c-message_
                 attachment__button null--outline-primary null--small" type="button" data-qa="message_attachment_button_primary" href="https://slack-redir.net/link?url=https%3A%2F%2Fmeet.google.com%2Fvqh-kdkb-exy" rel="noopener noreferrer"><span class="overflow_ellipsis">Join Hangout</span></a>
                  <span class="inline_block align_middle">
                     <div class="c-input_select__wrapper c-message_attachment__select_wrapper" role="group">
                        <div value="" data-qa="select" aria-label="Filter for option list" class="c-input_select c-input_select--short c-message_attachment__select" data-name="more_actions" id="attachment-action-select-1536710101000100-1-2-344ef182c2ce996ac4c90530cc33a3b6-more_actions" role="presentation">
                           <input role="combobox" type="text" aria-activedescendant="attachment-action-select-1536710101000100-1-2-344ef182c2ce996ac4c90530cc33a3b6-more_actions_null" aria-autocomplete="list" aria-expanded="false" aria-invalid="false" aria-label="Filter for option list" aria-owns="attachment-action-select-1536710101000100-1-2-344ef182c2ce996ac4c90530cc33a3b6-more_actions_listbox" aria-required="false" class="c-input_select__filter_input" data-qa="select_input" placeholder="More actions...">
                           <div class="c-input_select__chevron c-deprecated-icon c-icon--chevron-down"></div>
                        </div>
                     </div>
                  </span> -->
            </div>
         </div>
      </div>
   </div>
</div>
