$gutter-width: 22px;
$grid-gap: 2px;

$color-black: #000;
$color-white: #fff;
$color-almost-white: #edecec;
$color-light-gray: #999;
$color-lightest-gray: #eee;
$color-medium-gray: #ccc;
$color-gray: #666;
$color-blue: #009cd9;
$color-green: #28d668;
$color-sky-blue: #CCf6FF;

$color-slack-gray: #919193;

$font-body: 'Open Sans', sans-serif;
$font-slack: 'Lato', sans-serif;