$color-black: #000000;
$color-white: #FFFFFF;
$color-almost-white: #F9F9F9;
$color-light-gray: #999999;
$color-lightest-gray: #E8E8E8;
$color-gray: #717274;
$color-medium-gray: #919193;
$color-dark-gray: #2C2D30;
$color-blue: #009CD9;
$color-green: #28D668;
$color-sky-blue: #CCF6FF;
$color-light-lavender: #EAF5FC;
$color-cream-yellow: #FFF5D3;
$color-deep-blue: #0576B9;
$color-active-blue: #2D9EE0;
$color-cream: #FFF5D3;
$color-light-green: #4DD87E;
$color-green: #4DAC86;

$font-body: 'Open Sans', sans-serif;
$font-heading: 'Nunito', sans-serif;
$font-slack: 'Lato', sans-serif;
