section.carousels {

	@media (min-width: 768px) {
		padding: 60px;
		padding-left: 0;
		padding-right: 0;
	}

	.carousel {
		text-align: center;
	}

	
	.carousel-inner {
		text-align: center;
		margin-bottom: 30px;
	}

	.item {


		/*position: relative;
		overflow: hidden;*/



		.row {
			@media (min-width: 768px) {
				display: table;
				width: 92%;
			}
		}
		
		.col-sm-6  {

			@media (min-width: 768px) {
				float: none;
				display: table-cell;
				vertical-align: middle;
			}

	
			.thumbnail {
				
				border-radius: 0;
				margin: 0;
				padding: 5% 10% 0 10%;
				@media (min-width: 768px) {
					padding: 5% 15% 0 0;
				}
				border: 0;

			}
		}

	}

	.carousel-caption {
		position: static;
		text-align: left;
		text-shadow: none;
	}

	.carousel-indicators {

		position: static;
		display: inline-block;
		width: auto;
		margin: 0;

		li {
			border: 2px solid rgba(0,0,0,.6);
			box-sizing: border-box;
			background-color: transparent;
		}

		 .active {
			border: none;
			background-color: rgba(0,0,0,.6);
		}
	}

	.carousel-control {
		&.left,
		&.right {
			background-image:  none;
			width: 7%;
			transition: opacity .3s 0s ease-out;
			bottom: auto;
			top: 25%;
			text-shadow: none;
			
			@media (min-width: 768px) {
				top: 50%;
			}
			transform: translate(0, -50%);
			
			&:focus,
			&:hover {
			}

			&:focus {
				opacity: .5;
			}

			&:before {
				@extend .vcenter;
				// font-family: 'doable-icons';
				font-size: 36px;
			}
		}


		&.left:before {
			// content: "\e902";
		}

		&.right:before {
			// content: "\e903";
		}
	}
}
