	
.modal-title {
	font-weight: bold;
	margin-bottom: 10px;
}

.modal-content {
	box-shadow: none;
	text-align: center;
	border-radius: 0;

	h4 {
		color: $green;
		font-size: 32px;
	}

	.icon-checkbox {
		font-size: 48px;
		color: $green;
		display: block;
		margin: 20px auto;
	}
}

.modal-footer {
	text-align: center;
	border: 0;

	.btn {
		text-transform: uppercase;
		color: $green;
		font-weight: bold;
		background: transparent;
		font-size: 21px;

		.icon-x {
			margin-right: 5px;
			font-size: 15px;
		}
	}
}

 #pricing-modal {
 	
 	.modal-content {
 		@media (min-width: 768px) {
			padding: 20px;
			border-radius: 12px;
		}

 	
 		.modal-header {
 			border: none;
 			h2 {
 				color: $green;
 				font-size: 22px;
 				@media (min-width: 768px) {
 					font-size: 36px
 				}

 			}
 			p {
 				font-size: 18px;
 				@media (min-width: 768px) {
 					font-size: 22px
 				}
 			}
 		}

 		.modal-footer {
 			.btn {
 				border-radius: 6px;
 				border: 2px solid $green;
 				width: 100%;
 				display: block;
 			}
			

 		}
 	}
 }