@import 'bootstrap';
@import 'typography';
@import 'variables';
@import 'global';
@import 'mixins';
@import 'header';
@import 'sections';
@import 'footer';
@import 'navigation';
@import 'carousels';
@import 'modals';

body {
	font: 22px/1.2  Arial, sans-serif;
	color: $gray;
	letter-spacing: .01em;
}

a { 
	transition: color .3s 0s ease-out, background-color .3s 0s ease-out, border-color .3s 0s ease-out;
	
	&:active, &:visited, &:hover, &:link {
		text-decoration: none;
		color: $dark-gray;
	}

	a:hover {
		color: $gray;
	}
}

.container-fluid {
	padding: 0;
	margin: auto;
	background-color: #fff;

	> header {
		padding: 40px 30px;
		@media (min-width: 568px) {
			padding: 80px 30px;
		}
		@media (min-width: 768px) {
			padding: 286px 30px;
		}
	}
}