@keyframes blink {
  0% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.slack {
  font: 15px / 1 $font-slack;
  position: relative;
  max-width: 700px;
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  text-align: left;

  &__icon {
    display: inline-block;
    width: 18px;

    &--plus {
      height: 42px;
    }
  }

  &__tabs {
    position: relative;
    margin-bottom: 4px;
    min-height: 250px;
  }

  &__label {
    margin: 2px 0 1px;
    color: $color-gray;
    font-size: 12px;

    &-icon {
      display: inline-block;
      margin-right: 4px;
      height: 8px;
    }
  }

  &__avatar-image {
    width: 36px;
    height: 36px;
    border-radius: 3px;
  }

  &__mention {
    background: $color-light-lavender;
    border-radius: 3px;
    padding: 0 2px 1px 2px;
    color: $color-deep-blue;

    &--self {
      background: $color-cream;
    }
  }

  &__gutter {
    padding-right: 8px;
    width: 36px;
    float: left;

    + .slack__content {
      margin-left: 36px;
    }
  }

  &__app {
    &-name {
      color: $color-dark-gray;
      font-weight: 900;
      word-break: break-word;
    }

    &-badge {
      background-color: $color-lightest-gray;
      border-radius: 2px;
      color: $color-gray;
      display: inline-block;
      font-size: 10px;
      font-weight: 600;
      height: 14px;
      line-height: 1.25;
      padding: 1px 3px;
      vertical-align: .125rem;
      text-transform: uppercase;
    }

    &-timestamp {
      color: $color-gray;
      font-size: 12px;
    }
  }

  &__member {
    $member: &;
    display: block;
    font-size: 15px;
    padding: 0 12px;

    &--active {
      background: $color-active-blue;
      text-shadow: 0 1px rgba(0, 0, 0, .1);
    }

    &-presence {
      align-items: center;
      line-height: 2;
      display: inline-block;
      vertical-align: middle;
      color: $color-green;
      padding: 0 7px 0 0;

      &--active {
        #{$member}--active & {
          color: $color-white;
        }
      }

      &-icon {
        width: 6px;
        height: 6px;
        border: 1px solid currentColor;
        background-color: currentColor;
        border-radius: 50%;
        display: inline-block;

        #{$member}-presence--offline & {
          background-color: transparent;
          color: $color-gray;
        }
      }
    }

    &-thumb {
      background: url('/images/default-avatar.png');
      background-size: 100%;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      border-radius: .2rem;
      background-repeat: no-repeat;
    }

    &-name {
      color: $color-dark-gray;
      font-weight: 600;
      display: inline-block;
      vertical-align: middle;
      margin-left: .5rem;

      #{$member}--active & {
        color: $color-white;
        font-weight: 400;
      }
    }

    &-label {
      border-radius: 2px;
      font-size: 10px;
      padding: 1px 3px;
      color: $color-gray;
      background-color: $color-lightest-gray;
      display: inline-block;
      vertical-align: middle;
      height: 14px;
      line-height: 1.25;
      font-weight: 600;

      #{$member}--active & {
        color: $color-white;
        background-color: rgba($color-white, .3);
      }
    }

    &-secondary-name {
      color: $color-gray;
      word-break: break-word;
      white-space: nowrap;
      display: inline-block;
      vertical-align: middle;
      margin-left: .25rem;

      #{$member}--active & {
        color: $color-white;
      }
    }
  }

  &__response {
    &-attachments {
      border-left: 4px solid $color-light-green;
      margin-left: 4px;
    }

    &-attachment {
      padding: 0 12px;

      &-title {
        font-weight: 600;
      }

      &-author {
        &-icon {
          width: 16px;
          height: 16px;
          border-radius: 2px;
          box-sizing: content-box;
          margin-right: 4px;
          overflow: hidden;
          vertical-align: middle;
        }

        &-name {
          color: $color-gray;
          line-height: 1.46666667;
          font-size: 15px;
        }
      }

      &-footer {
        &-icon {
          width: 16px;
          height: 16px;
          border-radius: 2px;
          box-sizing: content-box;
          margin-right: 4px;
          overflow: hidden;
          vertical-align: middle;
        }

        &-text {
          font-size: 12px;
          line-height: 1.25;
          color: $color-gray;
        }
      }

      &-button,
      &-combo-box {
        background: $color-white;
        box-shadow: inset 0 0 0 1px rgba(#008952, .3);
        color: #008952;
        font-weight: 600;
        margin: 8px 8px 2px 0;
        max-width: 220px;
        padding: 0 10px;
        vertical-align: middle;
        font-size: 12px;
        height: 28px;
        border-radius: 4px;
        display: inline-flex;
        justify-content: center;
        outline: none;
        position: relative;
        text-align: center;
        user-select: none;
        white-space: nowrap;
        line-height: 27px;
      }

      &-combo-box {
        border: 1px solid rgba(44, 45, 48, .22);
        box-shadow: none;
        font-weight: 400;
        color: $color-medium-gray;
        padding-right: 40px;
        background: url(/images/drop-down-arrow.svg) no-repeat calc(100% - 12px) 50%;
        background-size: 8px 6px;
      }
    }

    &-body {
      margin: 8px 0 -4px;
      font-size: 15px;
    }
  }

  &__tab {
    position: absolute;
    background: $color-white;
    z-index: 100000;
    padding: 0;
    line-height: 1.4rem;
    box-shadow: 0 5px 10px rgba($color-black, .12);
    border-radius: 6px;
    border: 1px solid rgba($color-black, .15);
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;

    &--response {
      left: 0;
      bottom: 10px;
      padding: 4px 10px 16px;
      background: $color-almost-white;
      border-radius: none;
      border: 0;
    }

    &-header {
      padding: 5px 10px 4px;
      background: $color-almost-white;
      color: $color-gray;
      font-size: 12px;
      border-bottom: 1px solid rgba($color-black, .15);
      background-clip: padding-box;
      overflow: hidden;
      border-radius: 6px 6px 0 0;

      p {
        margin: 0;
      }
    }

    &-list {
      @include reset;
    }

    &-group {
      display: flex;
      border: 0;
      cursor: pointer;
      background: 0 0;
      padding: 5px 10px 4px;
      font-size: 15px;
      line-height: 2;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .group_name {
        font-weight: 600;
        padding-right: .5rem;
        color: $color-gray;
        font-size: .8rem;
      }

      .group_divider {
        border: none;
        flex: 1;
        border-top: 1px solid $color-lightest-gray;
        margin: .8rem 0 0;
      }
    }

    &-item {
      font-size: 15px;
      padding: 6px 10px;
      line-height: 1.2rem;

      .cmdname {
        font-weight: 900;
      }

      &.active {
        background: $color-active-blue;
        color: $color-white;
        text-shadow: 0 1px rgba($color-black, .1);
      }
    }
  }

  &__message {
    background-color: $color-white;
    border-radius: .375rem;
    display: flex;
    color: rgba($color-medium-gray, .7);

    .text-wrapper {
      display: inline-block;
      margin: 0 1px;
    }

    &.active {
      color: $color-gray;
    }

    &-btn {
      width: 44px;
      border-radius: 6px 0 0 6px;
      line-height: 42px;
      border: 2px solid currentColor;
      text-align: center;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    &-input {
      padding: 9px;
      border: 2px solid currentColor;
      border-left: none;
      border-radius: 0 6px 6px 0;
      flex: 1;

      &-wrapper {
        display: flex;
        height: 100%;
        align-items: flex-end;
      }

      &-text {
        flex: 1;
        font: 15px / 1.75 $font-slack;
        letter-spacing: .3px;

        .active & {
          color: $color-dark-gray;
        }

        &-inner {
          position: relative;
          display: inline-block;

          &::after {
            .active & {
              position: absolute;
              content: '|';
              right: -2px;
              top: 0;
              animation: blink 1s infinite;
            }
          }
        }
      }

      &-mentions,
      &-emo-menu {
        padding: 0 6px;
      }
    }
  }
}
